header {
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 220px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
}

header * {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
}

header .logo,
footer .logo {
    width: 82px;
    height: 52px;
}

header .logo .logo_small {
    display: none;
}

header .navigation {
    margin-left: 35px;
}

header .navigation ul,
footer .navigation ul {
    display: flex;
}

header .navigation ul li,
footer .navigation ul li {
    margin: 0 29px;
}

header .navigation ul li a.active {
    display: flex;
}

header .designed {
    position: absolute;
    right: 220px;
}

header .designed a {
    line-height: 22px;
}

header .hamburger {
    display: none;
    cursor: pointer;
}

header .hamburger .line {
    height: 2px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: .5s;
}

header .hamburger:hover .line {
    background-color: var(--color-orange);
}

header .hamburger .line:nth-child(2) {
    margin: 2px 0;
}

.main {
    background-image: url("../../assets/img/panda.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.main * {
    color: #ffffff;
}

.main .info {
    text-align: center;
    margin-top: 166px;
    width: 500px;
    position: relative;
    margin-right: 220px;
}

.main .info .circle {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: var(--gradient-orange);
    position: absolute;
    z-index: 0;
    left: -74px;
    top: -75px;
}

.main .info .text {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 106.5px;
    position: relative;
    z-index: 2;
}

.main .info .text .yellow {
    color: var(--color-yellow);
}

.main .info button {
    margin-top: 60px;
}

.backstage {
    padding: 140px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.backstage * {
    color: var(--color-darkgrey);
}

.backstage .from_main {
    display: none;
}

.backstage .flower {
    width: 206px;
    height: 605px;
    position: absolute;
    top: 15px;
    right: 0;
}

.backstage .container {
    display: flex;
    justify-content: center;
}

.backstage .container .back_img {
    max-width: 609px;
    max-height: 403px; 
}

.backstage .container .text {
    max-width: 465px;
    margin-left: 87px;
}

.backstage .container .text .back_title {
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
}

.backstage .container .text .back_title_description {
    line-height: 20.8px;
    margin-top: 20px;
}

.backstage .container .text .back_subtitle {
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 54px;
}

.backstage .container .text .back_subtitle_description {
    line-height: 22.4px;
    margin-top: 34px;
}

.pets {
    padding: 36px 0px 100px 0px;
    position: relative;
    overflow: hidden;
}

.pets .catalog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets .catalog button.circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin: 0 18px;
    z-index: 2;
}

.pets .catalog button.circle img {
    width: 16px;
    height: 8px;
}

.pets .catalog button.circle .left_arrow {
    transform: rotate(180deg);
}

.pets .catalog .grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 30px;
    position: relative;
    z-index: 2;
}

.pets .btn_container {
    margin-top: 80px;
    text-align: center;
}

.pets .btn_container button {
    color: #ffffff;
}

.pets .catalog .grid_container article {
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    align-self: start;
}

.pets .catalog .grid_container article:nth-child(5) {
    display: none;
}

.pets .catalog .grid_container article .hidden_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px 14px 16px;
    transition: .5s;
    transform: translateY(0);
    background-color: #ffffff;
}

.pets .catalog .grid_container article:hover > .hidden_description {
    transform: translateY(-60px);
    color: #ffffff;
    background  : none;
}

.pets .catalog .grid_container article:hover > .img_conteiner .animal_img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.pets .catalog .grid_container article:hover {
    align-self: end;
}

.pets .catalog .grid_container article .hidden_description .title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.pets .catalog .grid_container article .hidden_description .description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pets .catalog .grid_container article .food.banana {
    width: 33px;
    height: 37px;
}

.pets .catalog .grid_container article .food.meat {
    width: 48px;
    height: 38px;
}

.pets .catalog .grid_container article .img_conteiner {
    overflow: hidden;
}

.pets .catalog .grid_container article .animal_img {
    width: 366px;
    height: 362px;
    transition: .5s;
}

.pets .flower_left {
    position: absolute;
    bottom: 1px;
    left: -588px;
    z-index: 1;
}

.pets .flower_right {
    position: absolute;
    right: 0;
    bottom: 1px;
    z-index: 1;
}

.feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 69px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-darkgrey);
}

.feed .wrapper {
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 41px 55px 59px 99px;
}

.feed .wrapper .title {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: var(--color-orange);
    transform: translateX(-20px);
}

.feed .wrapper .description {
    margin-top: 30px;
    font-size: 24px;
    line-height: 29px;
}

.feed .wrapper .text_bold {
    margin-top: 40px;
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
    letter-spacing: 0.1px;
}

.feed .wrapper .text {
    margin-top: 10px;
    line-height: 21px;
    max-width: 865px;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.feed .wrapper .text a {
    color: var(--color-darkgrey);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--color-orange);
}

.feed .wrapper .howitwork {
    margin-top: 60px;
    transform: translateX(-22px);
}

.feed .wrapper .howitwork .title {
    font-size: 36px;
    line-height: 47px;
    color: var(--color-darkgrey);
    transform: translateX(0px);
}

.feed .wrapper .howitwork .widgets {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.feed .wrapper .howitwork .widgets .widget {
    max-width: 168px;
    margin: 0 15px;
}

.feed .wrapper .howitwork .arrow {
    margin: 0 15px;
    transform: translateY(58px);
}

.feed .wrapper .howitwork .arrow_small {
    display: none;
}

.feed .wrapper .howitwork .widgets .widget .widget_img {
    width: 168px;
    height: 168px;
    border-radius: 5px;
}

.feed .wrapper .howitwork .widgets .widget .widget_description {
    margin-top: 26px;
}

.feed .wrapper .howitwork button {
    display: block;
    margin: 68px auto 0 auto;
    color: #ffffff;
}

.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
    text-align: left;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .title {
    font-size: 36px;
    line-height: 47px;
    color: var(--color-darkgrey);
    text-align: center;
    font-weight: 400;
}

.testimonials .reviews {
    margin-top: 47px;
    display: flex;
    justify-content: center;
    text-align: start;
    overflow-x: auto;
    max-width: 1193px;
}

.testimonials .reviews .gradient_wrapper {
    margin: 0 15px;
    background: var(--gradient-pink);
    border-radius: 20px;
    padding: 2px;
    width: 268px;
    height: 391px;
}

.testimonials .reviews .gradient_wrapper:nth-child(1) {
    margin-left: 0;
}

.testimonials .reviews .gradient_wrapper:nth-child(4) {
    margin-right: 0;
}

.testimonials .reviews .review {
    background-color: var(--color-lightgrey);
    border-radius: 20px;
    padding: 15px 15px 19px 14px;
}

.testimonials .reviews .review .head {
    display: flex;
}

.testimonials .reviews .review .head .icon img {
    width: 37px;
    height: 37px;
}

.testimonials .reviews .review .head .info {
    margin-left: 10px;
}

.testimonials .reviews .review .head .info .name {
    line-height: 19px;
    font-weight: 500;
}

.testimonials .reviews .review .head .info .location {
    color: var(--color-graysec);
}

.testimonials .reviews .review .head .info .dot {
    color: var(--color-graysec);
    margin: 0 5px;
}

.testimonials .reviews .review .head .info .day {
    color: var(--color-graysec);
}

.testimonials .reviews .review .text {
    margin-top: 10px;
    color: var(--color-grey);
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    overflow-y: hidden;
    height: 306px;
}

.testimonials button {
    margin-top: 30px;
}

.testimonials .scrollbar_wrapper {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.testimonials .scrollbar_wrapper .scrollbar {
    overflow: hidden;
    width: 599px;
    height: 8px;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: #F5F7F6;
}

.testimonials .scrollbar_wrapper .scrollbar::-webkit-slider-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: #FE9013;
}

.testimonials .scrollbar_wrapper .scrollbar::-webkit-slider-thumb {
    width: 8px;
    -webkit-appearance: none;
    height: 8px;
    cursor: pointer;
    border-radius: 1em;
    background: #FE9013;
    box-shadow: -591px 0 0 585px #FE9013;
}

.testimonials .scrollbar_wrapper .scrollbar::-moz-range-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: #FE9013;
}

.testimonials .scrollbar_wrapper .scrollbar::-moz-range-thumb {
    width: 8px;
    -webkit-appearance: none;
    height: 8px;
    cursor: pointer;
    border-radius: 1em;
    background: #FE9013;
    box-shadow: -591px 0 0 585px #FE9013;
}

/** FF*/
.testimonials .scrollbar_wrapper .scrollbar::-moz-range-progress {
    background-color: #FE9013;
}
.testimonials .scrollbar_wrapper .scrollbar::-moz-range-track {
    background-color: #F5F7F6;
}
/* IE*/
.testimonials .scrollbar_wrapper .scrollbar::-ms-fill-lower {
    background-color: #FE9013;
}

.testimonials .scrollbar_wrapper .scrollbar::-ms-fill-upper {
    background-color: #F5F7F6;
}

.testimonials .back_img {
    position: absolute;
    right: 0;
    bottom: -135px;
}

footer {
    background-color: #111115;
    padding: 38px 220px 50px 220px;
}

footer * {
    color: #FFFFFF;
}

footer .head {
    display: flex;
    justify-content: space-between;
}

footer .head .logo .mobile_logo {
    display: none;
}

footer .head .subscribe .text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

footer .head .subscribe .input_email {
    padding: 10px 7px 10px 10px;
    margin-top: 14px;
    color: #BDBDBD;
    background: none;
    border: 1px solid var(--color-orange);
    border-radius: 2px;
    font-size: 16px;
    line-height: 140%;
    width: 204px;
}

footer .head .subscribe .submit {
    background: var(--color-lightgrey);
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 5px;
    font-size: 16px;
    line-height: 140%;
    margin-left: 10px;
    padding: 10px 39px;
}

footer .head .subscribe .submit.default {
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

footer .donate {
    margin-top: 36px;
}

footer .foot {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer .foot .social li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

footer .foot .social li:hover .social_link {
    color: var(--color-green);
}

footer .foot .social li:hover .icon {
    background-color: var(--color-green);
}

footer .foot .social li:nth-child(1) {
    margin-top: 0;
}

footer .foot .social li .icon {
    background-color: rgba(196, 196, 196, 0.5);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .foot .social li .social_link {
    margin-left: 12px;
    line-height: 22px;
}

footer .foot .navigation {
    transform: translateX(58px);
}

footer .foot .designed p {
    font-family: 'Roboto Thin';
    line-height: 21px;
    color: #bababa;
    margin-top: 10px;
}

@media screen and (max-width: 1599px) {

}

@media screen and (max-width: 1500px) {
    .backstage .flower {
        display: none;
    }

    footer {
        padding: 38px 120px 50px 120px;
    }
}

@media screen and (max-width: 1350px) {
    .main .info {
        margin-right: 150px;
    }

    .pets .catalog .grid_container {
        grid-row-gap: 90px;
    }

    .pets .catalog button.circle {
        position: absolute;
    }

    .pets .catalog button.circle.btn_left {
        margin-right: 320px;
    }

    .pets .catalog button.circle.btn_right {
        margin-left: 320px;
    }

    .feed {
        padding: 69px 30px 100px 30px;
    }

    .testimonials {
        padding: 140px 30px 180px 30px;
    }

    footer {
        padding: 38px 30px 50px 30px;
    }
}

@media screen and (max-width: 1250px) {
    header {
        padding: 0 30px;
    } 

    header .designed {
        right: 30px;
    }

    .main {
        background-position: center;
    }

    .main .info {
        margin-right: 50px;
    }

    .backstage {
        padding: 140px 30px;
    }

    .pets {
        padding: 36px 30px 100px 30px;
    }

    .testimonials .reviews .gradient_wrapper:nth-child(4) {
        display: none;
    }

    .container_img {
        width: 455px;
        height: 408px;
        background-image: url("../../assets/img/bamboo-cap.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
    }

    .backstage .container .back_img {
        display: none;
    }

    .backstage .container .text {
        margin-left: 30px;
    }

    .pets .catalog .grid_container article .animal_img {
        width: 294px;
        height: 294px;
    }

    .pets .catalog button.circle.btn_left {
        margin-right: 250px;
    }

    .pets .catalog button.circle.btn_right {
        margin-left: 250px;
    }
}

@media screen and (max-width: 1050px) {
    header .navigation ul li {
        margin: 0 26px;
        font-size: 15px;
    }

    .main {
        height: 584px;
        background-size: cover;
    }

    .main .info {
        margin-top: 122px;
        margin-right: 36px;
    }

    .main .info .circle {
        width: 367px;
        height: 367px;
        left: -8px;
        top: -53px;
    }

    .main .info .text {
        font-size: 85px;
        line-height: 64px;
    }

    .main .info button {
        margin-top: 40px;
    }

    .backstage {
        padding: 110px 30px;
    }

    .backstage .container .text {
        margin-left: 20px;
        transform: translate(11px, -11px);
    }

    .backstage .container .text .back_title {
        line-height: 59px;  
    }

    .backstage .container .text .back_subtitle_description {
        max-width: 445px;
        line-height: 22px;
    }

    .pets {
        padding: 22px 30px 142px 30px;
    }

    .pets .catalog .grid_container article .hidden_description {
        padding: 2px 13px 12px 16px;
    }

    .pets .catalog .grid_container article:nth-child(5) {
        display: block;
        order: 5;
    }

    .pets .catalog .grid_container article:nth-child(3) {
        order: 4;
    }

    .pets .catalog .grid_container article:nth-child(4) {
        display: none;
    }

    .pets .catalog .grid_container article:nth-child(7) {
        order: 6;
    }

    .pets .flower_left {
        width: 386px;
        height: 202px;
        left: -192px;
    }

    .pets .flower_right {
        width: 241px;
        height: 180px;
    }

    .feed {
        padding: 30px 30px 49px 30px;
    }

    .feed .wrapper {
        padding: 28px 45px 50px 50px;
    }

    .feed .wrapper .title {
        transform: none;
    }

    .feed .wrapper .description {
        margin-top: 22px;
    }

    .feed .wrapper .text_bold {
        margin-top: 20px;
        max-width: 96%;
    }

    .feed .wrapper .text {
        letter-spacing: 0.5px;
    }

    .feed .wrapper .howitwork {
        margin-top: 40px;
        transform: translateX(-2px);
    }

    .feed .wrapper .howitwork .arrow {
        transform: translateY(62px);
    }

    .feed .wrapper .howitwork .widgets .widget .widget_description {
        line-height: 23px;
        max-width: 160px;
    }

    .feed .wrapper .howitwork button {
        margin-top: 72px;
    }

    .testimonials {
        padding: 100px 25px 140px 25px;
    }

    .testimonials .reviews {
        margin-top: 30px;
    }

    .testimonials .wrapper {
        margin-left: 10px;
    }

    .testimonials .reviews .gradient_wrapper {
        width: 288px;
        height: 388px;    
    }

    .testimonials .reviews .review {
        padding: 12px 15px 38px 14px;
    }

    .testimonials .reviews .review .head .info .dot {
        margin: 0px;
    }

    .testimonials .reviews .review .text {
        height: 286px;
    }

    .testimonials .scrollbar_wrapper {
        margin-top: 20px;
    }

    .testimonials .scrollbar_wrapper .scrollbar {
        transform: translateX(-10px);
        width: 392px;   
        height: 7px;
    }

    .testimonials button {
        margin-top: 52px;
    }

    .testimonials .back_img {
        width: 198px;
        bottom: -88px;
    }

    footer {
        padding: 40px 48px 50px 44px;
    } 

    footer .donate {
        margin-top: 34px;
    }

    footer .foot .navigation {
        transform: translateX(60px);
    }

    footer .navigation ul li {
        margin: 0 24px;
    }

    footer .foot .designed {
        transform: translateX(28px);
    }
}

@media screen and (max-width: 950px) {
    .container_img {
        display: none;
    }

    .backstage {
        justify-content: flex-start;
    }

    .backstage .flower {
        display: block;
    }

    .pets .catalog .grid_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pets .catalog .grid_container article:nth-child(6),
    .pets .catalog .grid_container article:nth-child(7) {
        display: none;
    }

    .pets .catalog button.circle.btn_left {
        margin-right: 110px;
    }

    .pets .catalog button.circle.btn_right {
        margin-left: 110px;
    }

    .feed .wrapper {
        padding: 28px 20px 50px 20px;
    }

    .testimonials .reviews {
        flex-wrap: wrap;
    }

    .testimonials .reviews .gradient_wrapper {
        width: 99%;
        height: 130px;
        margin: 7.5px 0;
    }

    .testimonials .reviews .review .text {
        height: 36px;
    }

    .testimonials .reviews .review {
        padding: 12px 15px 31px 14px;
    }

    .feed .wrapper .howitwork .arrow {
        margin: 0;
    }

    footer .foot .navigation {
        transform: translateX(0px); 
    }
}

@media screen and (max-width: 810px) {
    header {
        padding: 0 20px;
        justify-content: space-between;
    }

    header .navigation {
        display: none;
    }

    header .navigation {
        display: none;
    }

    header .designed {
        display: none;
    }

    header .hamburger {
        display: block;
    }

    footer {
        position: relative;
        padding: 12px 20px
    }

    footer .head .subscribe {
        display: none;
    }

    footer .foot .social {
        position: absolute;
        right: 20px;
        top: 12px;
    }

    footer .navigation ul li:nth-child(1) {
        margin-left: 0;
    }

    footer .foot .social li .social_link {
        display: none;
    }

    footer .foot .designed {
        transform: none;
    }

    .feed .wrapper .howitwork .arrow {
        display: none;
    }

    .feed .wrapper .howitwork .arrow_small {
        display: block;
        position: absolute;
    }

    .feed .wrapper .howitwork .arrow_small.first {
        margin-right: 210px;
        margin-top: -16px;
    }

    .feed .wrapper .howitwork .arrow_small.second {
        margin-left: 210px;
        margin-top: -16px;
    }

    .feed .wrapper .howitwork .widgets .widget {
        margin: 0 21px;
    }

    .feed .wrapper .howitwork .widgets .widget:nth-child(1) {
        margin-left: 0;
    }

    .feed .wrapper .howitwork .widgets .widget:nth-child(7) {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 2px 20px;
        height: auto;
    }

    header .logo {
        width: auto;
        height: auto;
    }

    header .logo .logo_desktop {
        display: none;
    }

    header .logo .logo_small {
        display: block;
    }

    .main {
        height: 373px;
    }

    .main .info {
        width: 292px;
        margin-top: 82px;
        margin-right: 0;
    }

    .main .info .text {
        font-size: 54px;
        line-height: 41px;
    }

    .main .info .circle {
        width: 238px;
        height: 238px;
        left: -18px;
        top: -38px;
    }

    .main .info button {
        margin-top: 0;
        transform: translate(-328px, -8px);
    }

    .pets .catalog .grid_container article .animal_img {
        width: 285px;
        height: 285px;
    }

    .backstage {
        padding: 60px 20px;
    }

    .backstage .flower {
        height: 484px;
        width: 164px;
        right: -32px;
        top: -4px;
    }

    .backstage .container .text {
        margin-left: 0;
        transform: none;
        max-width: initial;
    }

    .backstage .container .text .back_title {
        transform: translateX(4px);
        max-width: 465px;
    }

    .backstage .container .text .back_title_description {
        margin-top: 18px;
        max-width: 465px;
    }

    .backstage .container .text .back_subtitle {
        margin-top: 32px;
        transform: translateX(4px);
    }

    .backstage .container .text .back_subtitle_description {
        margin-top: 18px;
    }

    .backstage .container .text .back_subtitle_description {
        max-width: 482px;
    }

    .pets {
        padding: 20px 20px 100px 20px;
    }

    .pets .catalog .grid_container {
        grid-row-gap: 92px;
    }

    .pets .catalog button.circle {
        margin-top: -7px;
    }

    .pets .catalog .grid_container article .hidden_description .title {
        font-size: 12.5px;
        line-height: 17px;
    }

    .pets .catalog .grid_container article .hidden_description .description {
        font-size: 11.5px;
        line-height: 14px;
    }

    .pets .catalog .grid_container article .hidden_description {
        padding: 2px 8px 8px 12px;
    }

    .pets .catalog .grid_container article .food.banana {
        width: 26px;
        height: 29px;
    }

    .pets .catalog .grid_container article .food.meat {
        width: 37px;
        height: 29px;
    }

    .pets .btn_container {
        margin-top: 60px;
    }

    .pets .flower_left {
        left: -252px;
    }

    .pets .flower_right {
        width: 175px;
        height: 131px;
    }

    .feed {
        padding: 20px 0;
    }

    .feed .wrapper {
        padding: 10px 20px 60px 20px;
    }

    .feed .wrapper .title {
        font-size: 42px;
        line-height: 50px;
    }

    .feed .wrapper .description {
        font-size: 22px;
        line-height: 26px;
    }

    .feed .wrapper .text_bold {
        font-size: 16px;
        line-height: 21px;
        max-width: 100%;
    }

    .feed .wrapper .howitwork {
        margin-top: 28px;
    }

    .feed .wrapper .howitwork .widgets {
        margin-top: 20px;
        margin-left: -8px;
    }

    .feed .wrapper .howitwork .widgets .widget {
        max-width: 100%;
    }
    
    .feed .wrapper .howitwork .arrow_small.first {
        margin-right: 226px;
    }

    .feed .wrapper .howitwork .arrow_small.second {  
        margin-left: 190px;
    }

    .feed .wrapper .howitwork button {
        margin-top: 40px;
    }

    .testimonials {
        padding: 60px 20px 80px 20px;
    }

    .testimonials .wrapper {
        margin-left: 0;
    }

    .testimonials .reviews {
        margin-top: 23px;
    }

    .testimonials .reviews .review {
        padding: 13px 15px 8px 10px;
    }

    .testimonials .reviews .review .text {
        margin-top: 8px;
        margin-left: 6px;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.1px;
    }

    .testimonials .reviews .review .head .info span {
        font-size: 15px;
        line-height: 18px;
    }

    .testimonials .reviews .gradient_wrapper {
        height: 106px;
    }

    .testimonials .scrollbar_wrapper {
        display: none;
    }

    .testimonials button {
        display: block;
        margin: 29px auto 0 auto;
        width: 238px;
    }

    .testimonials .back_img {
        width: 125px;
        bottom: -73px;
        right: -8px;
    }

    footer .foot {
        margin-top: 54px;
    }

    footer .foot .social li {
        margin-top: 20px;
    }

    footer .navigation ul li {
        margin: 0 18.5px;
    }
}

@media screen and (max-width: 625px) {
    header {
        padding: 2px 10px;
    }

    .main {
        height: 221px;
    }

    .main .info {
        width: 150px;
        margin-top: 76px; 
    }

    .main .info .circle {
        width: 119px;
        height: 119px;
        left: -8px;
        top: -20px;
    }

    .main .info .text {
        font-size: 28px;
        line-height: 21px;
    }

    .main .info button {
        display: none;
    }

    .backstage {
        padding: 60px 10px 20px 10px;
    }

    .backstage .from_main {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 20px;
        left: 0;
        right: 0;
        color: #ffffff;
    }

    .backstage .flower {
        height: 217px;
        width: 84px;
        right: -50px;
        top: 40px;
    }

    .backstage .container {
        margin-top: 45px;
    }

    .backstage .container .text .back_title {
        font-size: 24px;
        line-height: 29px;
        transform: none;
    }

    .backstage .container .text .back_title_description {
        margin-top: 8px;
    }

    .backstage .container .text .back_subtitle {
        margin-top: 22px;
        transform: translateX(2px);
    }
    
    .backstage .container .text .back_subtitle_description {
        margin-top: 10px;
    }

    .pets {
        padding: 20px 10px 60px 10px;
    }

    .pets .catalog button.circle {
        display: none;
    }

    .pets .catalog .grid_container {
        grid-row-gap: 20px;
        grid-template-columns: 1fr;
        transform: translateX(-6px);
    }

    .pets .btn_container {
        margin-top: 20px;
    }

    .pets .flower_left {
        width: 138px;
        height: 72px; 
        left: -80px;  
    }

    .pets .flower_right {
        width: 85px;
        height: 71px;
        right: -18px;
        bottom: -4px;
    }

    .feed {
        padding: 20px 10px;
    }

    .feed .wrapper {
        padding: 20px 0px 40px 0px;
    }

    .feed .wrapper .title {
        font-size: 24px;
        line-height: 29px;
    }

    .feed .wrapper .text_bold, 
    .feed .wrapper .text {
        display: none;
    }

    .feed .wrapper .description {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        max-width: 400px;
        margin: 10px auto 0 auto;
    }

    .feed .wrapper .howitwork {
        margin-top: 21px;
    }

    .feed .wrapper .howitwork .title {
        font-size: 24px;
        line-height: 29px;
    }

    .feed .wrapper .howitwork .widgets {
        flex-wrap: wrap;
        margin-left: 0;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .feed .wrapper .howitwork .widgets .widget {
        margin: 40px 0 0 0;
    }

    .feed .wrapper .howitwork .widgets .widget:nth-child(1) {
        margin-top: 0;
    }

    .feed .wrapper .howitwork .widgets .widget:nth-child(7) {
        margin: 30px 0 0 0;
    }

    .feed .wrapper .howitwork .widgets .widget .widget_description {
        margin-top: 4px;
    }

    .feed .wrapper .howitwork .arrow_small {
        transform: rotate(85deg);
    }

    .feed .wrapper .howitwork .arrow_small.first {
        margin-right: -205px;
        margin-top: -300px;
    }

    .feed .wrapper .howitwork .arrow_small.second {
        margin-left: 204px;
        margin-top: 192px;
    }

    .testimonials {
        padding: 31px 10px 60px 10px;
    }

    .testimonials .title {
        font-size: 24px;
        line-height: 29px;
    }

    .testimonials .reviews {
        margin-top: 11px;
    }

    .testimonials .reviews .review {
        padding: 9px 15px 8px 10px;
    }

    .testimonials .reviews .gradient_wrapper {
        height: 102px;
        margin: 9px 0;
    }

    .testimonials button {
        margin-top: 23px;
    }

    .testimonials .back_img {
        width: 64px;
        bottom: -42px;
        right: -8px;
        transform: rotate(-12deg);
    }

    footer {
        padding: 17px 10px;
    }

    footer .head {
        justify-content: center;
    }

    footer .head .logo {
        display: flex;
        justify-content: center;
    }

    footer .head .logo .main_logo {
        display: none;
    }

    footer .head .logo .mobile_logo {
        display: block;
    }

    footer .donate {
        margin-top: 60px;
    }

    footer .donate button {
        margin: 0 auto;
        display: block;
    }

    footer .foot {
        margin-top: 18px;
        justify-content: center;
        margin-top: 110px;
    }

    footer .foot .social {
        display: flex;
        align-items: center;
        top: 72px;
        right: auto;
    }

    footer .foot .social li {
        margin: 0 15px;
    }

    footer .foot .designed {
        position: absolute;
        right: 10px;
        top: 200px;
    }

    footer .foot .designed p {
        font-size: 15px;
        line-height: 18px;
        margin-top: 13px;
    }

    footer .foot .navigation {
        font-size: 16px;
        line-height: 22px;   
    }

    footer .navigation ul li {
        margin: 0 14px!important;
    }
}

@media screen and (max-width: 490px) { 
    .backstage .container .text .back_title {
        max-width: 340px;
    }

    .backstage .container .text .back_title_description {
        max-width: 340px;
    }
}

@media screen and (max-width: 325px) { 
    .main {
        background-position: bottom center;
        background-size: 24em
    }
}


@media screen and (min-width: 1650px) {
    .main {
        background-position: center;
    }
}