* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Regular';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    background: var(--gradient-orange);
}

button:hover {
    background: var(--color-darkorange);
}

button:active {
    background: var(--color-darkgreen);
}

:root{
    --color-orange: #F9804B;
    --color-green: #4B9200;
    --color-yellow: #FFEE2E;
    --color-grey: #767474;
    --color-lightgrey: #F1F3F2;
    --color-darkgrey: #333B41;
    --color-darkorange: #E47209;
    --color-darkgreen: #4B9200;
    --color-graysec: #BDBDBD;
    --gradient-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --gradient-pink: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
}